<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neeraj.com.milk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/milk_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Milk.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Milk.DialogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.OtpValidationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.FarmerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewCustomListView"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.ViewCustomListViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.UpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.BillingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.SettingHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.FinalBillActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Milk.ReportActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>